.navbar {
    background: linear-gradient(to right, rgb(24, 40, 70), rgb(80, 110, 180)) !important;
}

.my-spr {
    margin: auto;
    text-align: center;
}

.mytoast{
    color:black;
}
@media (max-width:1000px){
    .auto-search{
        width: 70%;
    }
}
@media (min-width:1001px){
    .auto-search{
        width: 25%;
    }
}
.mytime{
    font-style: italic;
}

.myst {
    color: white;
    background-color: rgb(110,117,124);
}

.st-world{
    color: white;
    background-color: rgb(125,78,255);
}

.st-politics{
    color: white;
    background-color: rgb(65,148,132);
}

.st-business{
    color: white;
    background-color: rgb(70,150,240);
}

.st-technology{
    color: black;
    background-color: rgb(206,220,57);
}

.st-sport{
    color: black;
    background-color: rgb(246,194,68);
}
.st-others{
    color: white;
    background-color: rgb(110,117,124);
}

.st-GUARDIAN{
    color: white;
    background-color: rgb(20,40,74);
}

.st-NYTIMES{
    color: black;
    background-color: rgb(221,221,221);
}