body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#top{
    margin: auto;
    text-align: center;
    margin-top: 35px;
}
#dir{
    list-style-type: none;
    text-align: center;
    padding:0px;
    margin: 0px;
    margin-top: 5px;
    
}
#dir li{
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    color: gray;
    font-style: italic;
}
#top2{
    text-align: center;
}
#top1 {
    margin: auto;
    width: 665px;
    height: 115px;
    border-style: solid ;
    border-width: 1px;
    text-align: center;
    padding-top: 15px;
}
#title{
    font-size: 58px;
    color: #333131;
}
a:visited{text-decoration: none;color: gray;}
a:link{text-decoration: none;color: gray;}




.picture{
    margin: 3.25px;
    width: 375px;
    height: 375px;
    float: left;
} 

#s{
    clear: left;
}
img{
    width: 100%;
    height: 100%;
}
.picture img{
    object-fit: cover;
    width: 375px;
    height: 375px;
}
#bot {
    display: inline-block;
    text-align: center;
    margin-top: 85px;
    width: 763px; 

} 
body{
    text-align: center;
}
#foot{
    margin-top: 30px;
    font-style: italic;
    color: gray;
    font-size: 10px;
}
#logo{
    margin-top: 15px;
    list-style: none;
    margin-bottom: 30px;

}
#logo li{
    margin : 9px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
#cur_page{
    color: black;
}
#text1{
     margin-top: -85px;
     padding-top: 50px;
     padding-left: 5px;
    text-align: left;
    font-size: 28px;
    margin-bottom: 3px;
}
#frame{
    text-align: center;
    width: 763px;
    margin: auto;
}